<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.munna.clock_sync</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/munna/projects/XIAOMI/venv/bin/python3</string>
        <string>/Users/munna/projects/XIAOMI/clock_sync.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/munna/projects/XIAOMI</string>

    <key>StandardOutPath</key>
    <string>/Users/munna/projects/XIAOMI/system_output.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/munna/projects/XIAOMI/system_errors.log</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>1</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>13</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>